@use "../../../styles/settings/" as variables;

.mainContainer {
  background-color: variables.$white;
  margin-right: 8em;
  margin-left: 8em;
  border-radius:4px;
  margin-top :32px;
  margin-bottom: 64px;

  &__hr {
    margin: 0 22px;
    opacity: 0.1;
    border-color: variables.$light-grey;
  }
}
